<html>
	<head>
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript" src="static/js/ajaxArt.js"></script>
	<style>
	#header {
	    background-color:black;
	    color:white;
	    text-align:center;
	    padding:5px;
	}
	#nav {
		line-height:30px;
   	 	background-color:#eeeeee;
   	 	height:600px;
   	 	width:100px;
   	 	float:left;
   	 	padding:5px; 
	}
	</style>
	</head>
	<body>

		<div id="header">
			<h1>Venice Art</h1>
		</div>
		<div id="nav">
			<a href="/">Home</a><br>
			<a href="art">Art</a>
		</div>

	</body>	
</html>
